body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Lora;
  background: #d1e5e1;
}

.scrollBox {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:before,
a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #000;
}

a:before {
  left: 0;
}
a:after {
  right: 0;
  background: #000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.exp {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
}

.exp__hr {
  background-color: yellow;
  width: 50%;
  height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.8;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo--text {
  font-family: Bungee Shade;
  font-size: 5rem;
}

.header__logo--lightbulb {
  height: 85px;
  width: 85px;
  margin-left: 2rem;
}

.nav {
  font-size: 1.5rem;
  padding-bottom: 1.3rm;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav__links--link {
  margin: 0 2rem;
}

.subtitle__box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5fr;
  justify-content: center;
  align-items: center;
}

.subtitle__text {
  font-size: 1.3rem;
  margin: 0 5rem;
}

.demos {
  display: grid;
  grid-template-columns: 50% 50%;

  padding: 3rem;
  border: 10px solid blueviolet;
  height: 70vh;
}

.demos__titles {
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(4, 125px);
  grid-row-gap: 1rem;
}

.demos__titles--title {
  font-size: 2rem;
  margin: 0;
}

.demos__titles--1 {
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.demos__titles--2 {
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.demos__titles--3 {
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.demos__titles--4 {
  grid-row: 4;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

#audio-players {
  display: grid;
  grid-template-rows: repeat(4, 125px);
  grid-row-gap: 0.8rem;
}

#audioplayer-0 {
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
}

#audioplayer-1 {
  grid-row: 2;
}
#audioplayer-2 {
  grid-row: 3;
}
#audioplayer-3 {
  grid-row: 4;
}

.about {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 5fr;
  border: 10px solid black;
  background-color: #ddeedc;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.46'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content__text {
  background-color: #eed;
  font-size: 1.15rem;

  letter-spacing: 0.6px;
  border: 4px solid #002;
  width: 600px;
  padding: 2rem;
  line-height: 1.7;
}

.row__1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.row__2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.row__3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.row__4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.row__5 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.text__1 {
  grid-column: 1;
}

.text__2 {
  grid-column: 2;
}

.text__3 {
  grid-column: 1;
}

.text__4 {
  grid-column: 2;
}

.text__5 {
  grid-column: 1/2;
}

.left {
  justify-self: flex-start;
}

.right {
  justify-self: flex-end;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 800;
}

.arrow {
  height: 50%;
  width: 50%;
}

.arrow__flipped {
  height: 50%;
  width: 50%;
  transform: scaleX(-1);
  filter: FlipH;
}

.arrow__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  background-color: #ddeedd;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}

.contact__header {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__header--text {
  font-family: Oswald;
  font-size: 8rem;
  text-transform: uppercase;
  margin: 1rem;
}

.contact__header--subtext {
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  line-height: 1.7;
  width: 550px;
  margin-bottom: 2rem;
}

.contact__form {
  grid-column: 1;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.contact__form--label {
  font-size: 1.2rem;
  font-family: Oswald;
  text-transform: uppercase;
  grid-column: 1;
}

.contact__form--input {
  grid-column: 2;
  height: 1.85rem;
  width: 25rem;
  border-radius: 0.5rem;
  border: 3px solid;
  font-family: Lora;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  line-height: 1.7;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact__form--textBox {
  height: 9rem;
  width: 25rem;
  border-radius: 0.5rem;
  border: 3px solid;
  font-family: Lora;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  line-height: 1.7;
  padding: 0.5rem;
}

.contact__form--btn {
  height: 3rem;
  width: 8rem;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 3px solid;
}

.contact__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3rem;
  margin-top: 2rem;
}

.contact__details--email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.contact__details--phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.contact__details--icon {
  height: 80px;
  width: 80px;
  filter: invert(0%) sepia(2%) saturate(3617%) hue-rotate(3deg) brightness(98%)
    contrast(106%);
  margin-right: 1.5rem;
  grid-column: 1;
}

.contact__details--text {
  font-size: 1.75rem;
  grid-column: 2;
}

/* audio */
.audioplayer {
  width: 480px;
  height: 60px;
  margin: 50px auto auto auto;
  border: solid;
}

.playbutton {
  height: 60px;
  width: 60px;
  border: none;
  float: left;
  outline: none;
}

.play {
  background: url('http://www.alexkatz.me/codepen/img/play.png');
}

.pause {
  background: url('http://www.alexkatz.me/codepen/img/pause.png');
}

.play,
.pause {
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.timeline {
  width: 400px;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

.playhead {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}

/* FOR CSS STYLINGS OF OUTLINE RINGS ON INPUTS */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}
