body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background: #d1e5e1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  line-height: 0.6;
}

.header__text {
  font-family: Bungee Shade;
  font-size: 3rem;
}

.subtitle__box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid greenyellow;
}

.subtitle__text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  font-size: 1.3rem;
  margin: 0 5rem;
}

.lightbulb {
  height: 60px;
  width: 60px;
}

.content {
  background-image: url(./assets/pipes.png);
}

.content__text {
  font-size: 1.3rem;
}
