body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Lora;
  background: #ddeedd;
}

.scrollBox {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:before,
a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #000;
}

a:before {
  left: 0;
}
a:after {
  right: 0;
  background: #000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.exp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp__hr {
  background-color: yellow;
  width: 50%;
  height: 20px;
}

.splash {
  height: 70vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 0.8;
  padding: 0 4rem;
  border: 2px solid red;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* transform: scale(0.5); */
}

.header__logo--text {
  font-family: Bungee Shade;
  font-size: 5rem;
}

.header__logo--lightbulb {
  height: 85px;
  width: 85px;
  margin-left: 2rem;
}

.nav {
  font-size: 1.5rem;
  padding-bottom: 1.3rm;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav__links--link {
  margin: 0 2rem;
}

.subtitle__box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5fr;
  justify-content: center;
  align-items: center;
}

.subtitle__text {
  font-size: 1.3rem;
  margin: 0 5rem;
}

.demos {
  display: grid;
  grid-template-columns: 50% 50%;

  padding: 3rem;
  background-color: #fefdfb;
  background-color: #fefdfb;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23ddeedc' fill-opacity='0.36' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 70vh;
}

.demos__titles {
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(4, 125px);
  grid-row-gap: 1rem;
}

.demos__titles--title {
  font-size: 2rem;
  font-family: Oswald;
  text-transform: uppercase;
  margin: 0;
}

.demos__titles--1 {
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.demos__titles--2 {
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.demos__titles--3 {
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.demos__titles--4 {
  grid-row: 4;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

#audio-players {
  display: grid;
  grid-template-rows: repeat(4, 125px);
  grid-row-gap: 0.8rem;
}

#audioplayer-0 {
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
}

#audioplayer-1 {
  grid-row: 2;
}
#audioplayer-2 {
  grid-row: 3;
}
#audioplayer-3 {
  grid-row: 4;
}

.about {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 5fr;
  border: 10px solid black;
  background-color: #ddeedc;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.46'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.about__header {
  display: flex;
  justify-content: center;
}

.about__header--text {
  font-family: Oswald;
  font-size: 8rem;
  text-transform: uppercase;
  margin: 1rem;
  background-color: #ddeedb;
}

.content__text {
  background-color: #eed;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  border: 4px solid #002;
  width: 600px;
  padding: 2rem;
  line-height: 1.7;
}

.row__1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.row__2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.row__3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.row__4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.row__5 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding: 0 100px;
}

.text__1 {
  grid-column: 1;
}

.text__2 {
  grid-column: 2;
}

.text__3 {
  grid-column: 1;
}

.text__4 {
  grid-column: 2;
}

.text__5 {
  grid-column: 1/2;
}

.left {
  justify-self: flex-start;
}

.right {
  justify-self: flex-end;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 800;
}

.arrow {
  height: 50%;
  width: 50%;
}

.arrow__flipped {
  height: 50%;
  width: 50%;
  transform: scaleX(-1);
  filter: FlipH;
}

.arrow__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeeedd;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  line-height: 1.7;
  padding: 5rem;
}

.resume__header {
  font-family: Oswald;
  font-size: 8rem;
  text-transform: uppercase;
  margin: 1rem;
}

.resume__list {
  display: grid;
  grid-template-rows: 1 / 1fr;
  grid-template-columns: 3 / 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 3rem;
  border: 2px solid #ddeedc;
  padding: 2rem 5rem;
}

.resume__list--1--title {
  grid-row: 1;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--1--role {
  grid-row: 1;
  grid-column: 2;
  font-style: italic;
}

.resume__list--1--theater {
  grid-row: 1;
  grid-column: 3;
}

.resume__list--2--title {
  grid-row: 2;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--2--role {
  grid-row: 2;
  grid-column: 2;
  font-style: italic;
}

.resume__list--2--theater {
  grid-row: 2;
  grid-column: 3;
}

.resume__list--3--title {
  grid-row: 3;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--3--role {
  grid-row: 3;
  grid-column: 2;
  font-style: italic;
}

.resume__list--3--theater {
  grid-row: 3;
  grid-column: 3;
}

.resume__list--4--title {
  grid-row: 4;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--4--role {
  grid-row: 4;
  grid-column: 2;
  font-style: italic;
}

.resume__list--4--theater {
  grid-row: 4;
  grid-column: 3;
}

.resume__list--5--title {
  grid-row: 5;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--5--role {
  grid-row: 5;
  grid-column: 2;
  font-style: italic;
}

.resume__list--5--theater {
  grid-row: 5;
  grid-column: 3;
}
.resume__list--6--title {
  grid-row: 6;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--6--role {
  grid-row: 6;
  grid-column: 2;
  font-style: italic;
}

.resume__list--6--theater {
  grid-row: 6;
  grid-column: 3;
}
.resume__list--7--title {
  grid-row: 7;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--7--role {
  grid-row: 7;
  grid-column: 2;
  font-style: italic;
}

.resume__list--7--theater {
  grid-row: 7;
  grid-column: 3;
}
.resume__list--8--title {
  grid-row: 8;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--8--role {
  grid-row: 8;
  grid-column: 2;
  font-style: italic;
}

.resume__list--8--theater {
  grid-row: 8;
  grid-column: 3;
}
.resume__list--9--title {
  grid-row: 9;
  grid-column: 1;
  text-transform: uppercase;
}

.resume__list--9--role {
  grid-row: 9;
  grid-column: 2;
  font-style: italic;
}

.resume__list--9--theater {
  grid-row: 9;
  grid-column: 3;
}

.contact {
  background-color: #ddeedd;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}

.contact__header {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__header--text {
  font-family: Oswald;
  font-size: 8rem;
  text-transform: uppercase;
  margin: 1rem;
}

.contact__header--subtext {
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  line-height: 1.7;
  width: 550px;
  margin-bottom: 2rem;
}

.contact__form {
  grid-column: 1;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.contact__form--label {
  font-size: 1.2rem;
  font-family: Oswald;
  text-transform: uppercase;
  grid-column: 1;
}

.contact__form--input {
  grid-column: 2;
  height: 1.85rem;
  width: 25rem;
  border-radius: 0.5rem;
  border: 3px solid;
  font-family: Lora;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  line-height: 1.7;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact__form--textBox {
  height: 9rem;
  width: 25rem;
  border-radius: 0.5rem;
  border: 3px solid;
  font-family: Lora;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  line-height: 1.7;
  padding: 0.5rem;
}

.contact__form--btn {
  height: 3rem;
  width: 8rem;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 3px solid;
}

.contact__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3rem;
  margin-top: 2rem;
}

.contact__details--email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.contact__details--phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.contact__details--skype {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.contact__details--icon {
  height: 80px;
  width: 80px;
  filter: invert(0%) sepia(2%) saturate(3617%) hue-rotate(3deg) brightness(98%)
    contrast(106%);
  margin-right: 1.5rem;
  grid-column: 1;
}

.contact__details--text {
  font-size: 1.75rem;
  grid-column: 2;
}

.footer {
  background: #3b3c36;
  color: #fff;
  height: 8rem;
}

.footer__text {
  font-size: 1rem;
  padding: 1rem 3rem;
}

/* audio */
.audioplayer {
  width: 360px;
  height: 60px;
  margin: 50px auto auto auto;
  border: solid;
}

.playbutton {
  height: 60px;
  width: 60px;
  border: none;
  float: left;
  outline: none;
}

.play {
  background: url('http://www.alexkatz.me/codepen/img/play.png');
}

.pause {
  background: url('http://www.alexkatz.me/codepen/img/pause.png');
}

.play,
.pause {
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.timeline {
  width: 280px;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

.playhead {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}

/* FOR CSS STYLINGS OF OUTLINE RINGS ON INPUTS */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.sticky {
  position: fixed;
  top: 0;
}
